.VideoCard {
    width: 30vmax;
    height: 48vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: .5vmax;
}

.VideoCard:hover > a {
    background-color: rgba(255, 255, 255, 0.534);
}

.VideoCard > a {
    padding: 2.5vmax;
    transition: all .5s;
    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.068);
}


.VideoCard > a > svg {
    fill: white;
}

.VideoCard > p {
    margin: 1vmax;
    color: white;
}